/*Checked*/
input:checked + label {
	font-size: 30px;
    font-weight: 700;
    color: rgb(13, 129, 33);
}

/*root*/

:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Focus*/

.enfoque:focus{
    color: darkcyan;
    background: black;
}

/*Disabled*/
.prueba-doble input:enabled{
    background-color: greenyellow;
    color: black;
}

.prueba-doble input:disabled{
    background-color: red;
    color: black;
}

/*Default*/
.clima input:default{
    box-shadow: 0 0 5px 5px lightblue;
}
.clima input:default + label{
    color: lightblue;
}

/*Valid e Invalid*/
.correo input:valid{
    background-color:greenyellow;
}
.correo input:invalid{
    background-color:#ffdddd;
}

/*Read-Write*/
.readorwrite input:read-write{
    background: cyan;
}
.readorwrite input:read-only{
    background: rgb(124, 124, 124);
    color: black;
}

/*In-range*/
.rango input:in-range{
    background-color: lightgreen;
}
.rango input:out-of-range{
    background-color: lightcoral;
}
.rango input:in-range+::after{
    content: "aceptable";
}
.rango input:out-of-range+::after{
    content: "inaceptable";
}